.project_btn {
  @apply bg-white uppercase pt-4 pb-3 px-6 rounded-full font-bold transition-all text-white bg-no-repeat mx-auto lg:mx-0;

  background-image: -webkit-linear-gradient(
    30deg,
    #c266d3 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, var(--primary) 50%, transparent 50%);
  background-size: 500px;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;

  &:hover {
    @apply text-primary;
    background-position: 100%;
  }
}
